/* Обнуление */
*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
ul,
ol,
li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
html,
body {
	height: 100%;
	line-height: 1;
	background: #171b2e;
	font-size: 14px;
	color: #000000;
	font-weight: 500;
	font-family: "Fira Sans Condensed";
}
body._lock {
	overflow: hidden;
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
._container {
	max-width: 1200px;
	padding: 0 15px;
	margin: 0px auto;
	box-sizing: content-box;
}
._ibg {
	position: relative;
}

._ibg img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}
/*---header-----------------------------------------------------------------------------------------------------*/
.header {
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 50;
	padding: 61px 0px 0px 0px;
}
.header__container {
}
.header__body {
}
.header__contact {
	display: flex;
	align-items: center;
}
.header__contact > *:not(:last-child) {
	margin: 0px 71px 0px 0px;
}
.header__contact:not(:last-child) {
	margin: 0px 0px 23px 0px;
}
.header__telephone {
	font-weight: 700;
	font-size: 30px;
	line-height: calc(36 / 30 * 100%);
	letter-spacing: 0.02em;
	color: #ffffff;
}
.header__telephone:hover {
	text-decoration: underline;
}
.header__social {
}
.header__social > *:not(:last-child) {
	margin: 0px 13px 0px 0px;
}
.header__social img {
	width: 48px;
	height: 48px;
	cursor: pointer;
}
.header__button {
}
.button-enroll {
	display: inline-block;
	padding: 17px 71px;
	font-weight: 700;
	font-size: 30px;
	line-height: calc(36 / 30 * 100%);
	letter-spacing: 0.02em;
	color: #222222;
	background: #f4cb70;
	border-radius: 0px 30px 30px 0px;
	transition: all 0.3s ease 0s;
}
.button-enroll:hover {
	background: #d4a131;
}

@media (max-width: 1230px) {
	.button-enroll {
		margin: 0px 0px 0px -15px;
	}
}
@media (max-width: 767px) {
	.header__contact {
		justify-content: center;
	}
	.button-enroll {
		display: flex;
		justify-content: center;
		margin: 0;
		border-radius: 30px 30px 30px 30px;
	}
}
@media (max-width: 576px) {
	.header {
		padding: 50px 0px 0px 0px;
	}
	.button-enroll {
		padding: 10px 30px;
		font-size: 24px;
		line-height: calc(36 / 24 * 100%);
	}
}
@media (max-width: 459px) {
	.header__contact:not(:last-child) {
		margin: 0px 0px 10px 0px;
	}
	.header {
		padding: 30px 0px 0px 0px;
	}
	.header__contact {
		flex-wrap: wrap-reverse;
	}
	.header__contact > *:not(:first-child) {
		margin: 0px 0px 13px 0px;
	}
	.header__telephone {
		flex: 1 1 100%;
		text-align: center;
		font-size: 24px;
		line-height: calc(36 / 24 * 100%);
		margin: 0 !important;
	}
	.header__social img {
		width: 35px;
		height: 35px;
	}
}
/*---page-----------------------------------------------------------------------------------------------------*/
.page {
	flex: 1 1 auto;
}
.page__main-block {
}
.page__plus {
}
.page__service {
}
.page__present {
}
.page_contact {
}
/*---main-block-----------------------------------------------------------------------------------------------------*/
.main-block {
	position: relative;
}
.main-block__container {
}
.main-block__body {
	padding: 282px 0 179px 0;
	position: relative;
	z-index: 3;
	max-width: 400px;
}
.main-block__content {
}
.main-block__title {
	font-weight: 800;
	font-size: 70px;
	line-height: calc(84 / 70 * 100%);
	letter-spacing: 0.02em;
	color: #ffffff;
}
.main-block__title:not(:last-child) {
	margin: 0px 0px 24px 0px;
}
.main-block__text {
	font-style: normal;
	font-weight: 400;
	font-size: 25px;
	line-height: calc(30 / 25 * 100%);
	letter-spacing: 0.02em;
	color: #ffffff;
}
.main-block__cover {
	position: absolute;
	padding: 35% 60% 0px 0px;
	top: 117px;
	right: 0;
	z-index: 2;
}
.main-block__ellipse {
	position: absolute;
	padding: 100% 100% 0px 0px;
	top: 0;
	right: 0;
	z-index: 1;
}

@media (max-width: 1500px) {
	.main-block__title {
		font-size: 55px;
		line-height: calc(70 / 55 * 100%);
	}
	.main-block__text {
		font-size: 25px;
		line-height: calc(30 / 25 * 100%);
	}
}
@media (max-width: 1409px) {
	.main-block__title {
		font-size: 45px;
		line-height: calc(55 / 45 * 100%);
	}
	.main-block__title:not(:last-child) {
		margin: 0px 0px 15px 0px;
	}
	.main-block__text {
		font-size: 20px;
		line-height: calc(25 / 20 * 100%);
	}
}
@media (max-width: 1230px) {
	.main-block__body {
		padding: 232px 0 129px 0;
	}
	.main-block__title {
		font-size: 40px;
		line-height: calc(50 / 40 * 100%);
	}
	.main-block__title:not(:last-child) {
		margin: 0px 0px 10px 0px;
	}
	.main-block__text {
		font-size: 20px;
		line-height: calc(25 / 20 * 100%);
	}
}
@media (max-width: 767px) {
	.main-block__body {
		max-width: 100%;
	}
	.main-block__cover img {
		opacity: 0.7;
		object-position: center;
	}
	.main-block__content {
		text-align: center;
	}
	.main-block__cover {
		padding: 55% 85% 0px 0px;
	}
	.main-block__ellipse {
		padding: 150% 100% 0px 0px;
	}
}
@media (max-width: 459px) {
	.main-block__title {
		font-size: 45px;
		line-height: calc(55 / 45 * 100%);
	}
	.main-block__text {
		font-size: 20px;
		line-height: calc(30 / 20 * 100%);
	}
	.main-block__body {
		padding: 232px 0 80px 0;
	}
}
/*---plus-block-----------------------------------------------------------------------------------------------------*/
.plus-block {
	position: relative;
	z-index: 3;
}
.plus-block__container {
}
.plus-block__body {
}
.plus-block__body > *:not(:last-child) {
	margin: 0px 0px 20px 0px;
}
.plus-block__card {
	padding: 38px 117px;
	background: #f4cb70;
	border-radius: 30px;
}
.plus-block__title {
	font-weight: 700;
	font-size: 48px;
	line-height: calc(58 / 48 * 100%);
	letter-spacing: 0.02em;
	color: #000000;
}
.plus-block__title:not(:last-child) {
	margin: 0px 0px 5px 0px;
}
.plus-block__text {
	font-weight: 400;
	font-size: 25px;
	line-height: calc(30 / 25 * 100%);
	letter-spacing: 0.02em;
	color: #000000;
}

@media (max-width: 1230px) {
	.plus-block__card {
		padding: 38px 80px;
	}
}
@media (max-width: 850px) {
	.plus-block__title {
		font-size: 35px;
		line-height: calc(45 / 35 * 100%);
	}
}
@media (max-width: 767px) {
	.plus-block__title {
		text-align: center;
	}
	.plus-block__card {
		padding: 25px 50px;
	}
}
@media (max-width: 576px) {
	.plus-block__card {
		padding: 10px 30px;
	}
	.plus-block__text {
		font-size: 20px;
		line-height: calc(25 / 20 * 100%);
	}
}
/*---service-----------------------------------------------------------------------------------------------------*/
.service {
}
.service__container {
}
.service__body {
	padding: 138px 0 180px 0;
}
.service__title {
	position: relative;
	z-index: 2;
	text-align: center;
	font-weight: 800;
	font-size: 70px;
	line-height: calc(84 / 70 * 100%);
	letter-spacing: 0.02em;
	color: #ffffff;
}
.service__title:not(:last-child) {
	margin: 0px 0px 121px 0px;
}
.service__items {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.service__item {
}

.item-service {
	position: relative;
	z-index: 2;
	margin: 0px 0px 100px 0px;
	flex: 0 1 40%;
	padding: 0px 0px 170px 0px;
}

.item-service__body {
	border: 10px solid #3c88af;
	border-radius: 50px;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	transition: all 0.3s ease 0s;
	cursor: pointer;
}
.item-service__body:hover {
	background: #333c68;
}
.item-service__body:hover .item-service__content > .item-service__button {
	text-decoration: underline;
}
.item-service__content {
}
.item-service__button {
	display: inline-block;
	padding: 8px 124px;
	background: #f4cb70;
	border-radius: 50px;
	font-weight: 700;
	font-size: 30px;
	line-height: calc(36 / 30 * 100%);
	letter-spacing: 0.02em;
	color: #222222;
	margin: -10px 0px 0px 0px;
}

.item-service__title {
	font-weight: 700;
	font-size: 50px;
	line-height: calc(60 / 50 * 100%);
	letter-spacing: 0.02em;
	color: #ffffff;
	padding: 54px 15px;
	min-height: 250px;
}
.item-service__title:not(:last-child) {
	margin: 0px 0px 40px 0px;
}
.item-service__image {
	display: block;
	border-radius: 50px;
	width: 90%;
	padding: 90% 0 0 0;
	margin: 0px 0px -200px 0px;
}

@media (min-width: 992px) {
	.item-service.item-service_horizontal {
		flex: 0 1 80%;
		position: relative;
		margin: 50px 0px 0px 0px;
	}
	.item-service_horizontal .item-service__body {
		display: flex;
		justify-content: space-between;
		flex-direction: row;
	}
	.item-service_horizontal .item-service__button {
		margin: -10px 0px 0px 50px;
	}
	.item-service_horizontal .item-service__image {
		position: absolute;
		width: 70%;
		top: 0;
		right: 0;
		padding: 50% 0px 0px 0px;
		margin: -30px -240px 0px 0px;
	}
}
@media (min-width: 1260px) {
	.item-service_horizontal .item-service__image {
		padding: 50% 0px 0px 0px;
		margin: -65px -330px 0px 0px;
	}
}

@media (max-width: 1200px) {
	.service__title:not(:last-child) {
		margin: 0px 0px 80px 0px;
	}
	.item-service {
		flex: 0 1 45%;
	}
	.item-service__title {
		font-size: 40px;
		line-height: calc(45 / 40 * 100%);
	}
}
@media (max-width: 992px) {
	.service__container {
		padding: 0 50px;
	}
	.item-service {
		flex: 1 1 100%;
	}
	.item-service__image {
		width: 50%;
		padding: 50% 0 0 0;
		margin: 0px 0px -170px 0px;
	}
	.item-service-horizontal__image {
		margin: 0px -230px 0 0;
	}
	.item-service_horizontal .item-service__image {
		width: 100%;
		padding: 60% 0px 0px 0px;
	}
}
@media (max-width: 767px) {
	.item-service {
		margin: 0px 0px 80px 0px;
	}
	.item-service__image {
		width: 70%;
		padding: 70% 0 0 0;
		margin: 0px 0px -150px 0px;
	}
}
@media (max-width: 569px) {
	.item-service {
		margin: 0px 0px 60px 0px;
	}
	.service__body {
		padding: 138px 0 20px 0;
	}
	.item-service {
		padding: 0px 0px 130px 0px;
	}
	.item-service__button {
		padding: 8px 40px;
		font-size: 20px;
		line-height: calc(26 / 20 * 100%);
	}
	.item-service__title {
		font-size: 35px;
		line-height: calc(40 / 35 * 100%);
	}
	.item-service__image {
		width: 80%;
		padding: 80% 0 0 0;
		margin: 0px 0px -130px 0px;
	}
	.item-service_horizontal .item-service__image {
		width: 100%;
		padding: 70% 0 0 0;
	}
}
@media (max-width: 459px) {
	.item-service {
		margin: 0px 0px 40px 0px;
	}
	.service__container {
		padding: 0 15px;
	}
	.item-service__image {
		width: 90%;
		padding: 90% 0 0 0;
		margin: 0px 0px -120px 0px;
	}
}
/*---present-----------------------------------------------------------------------------------------------------*/
.present {
	padding: 0px 0px 238px 0px;
	position: relative;
}
.present__container {
}
.present__body {
	position: relative;
	z-index: 2;
}
.present__card {
	position: relative;
	z-index: 2;
	width: 90%;
	padding: 60px 215px 120px 82px;
	background: #f4cb70;
	border-radius: 30px;
	font-weight: 700;
	font-size: 50px;
	line-height: calc(60 / 50 * 100%);
	letter-spacing: 0.02em;
	color: #222222;
}
.present__text {
}
.present__image {
	position: absolute;
	top: 0;
	right: 0;
	width: 60%;
	padding: 35% 0 0 0;
	margin: -30px -280px 0 0;
	z-index: 3;
}
.present__line {
	position: absolute;
	top: 0;
	left: -200px;
	width: 100%;
	padding: 93% 0px 0px 0px;
	margin: 30px 0px 0px 0px;
	z-index: 1;
}
.present__ellipse2 {
	position: absolute;
	top: 0;
	left: 0;
	padding: 100% 100% 0px 0px;
	z-index: 1;
}

@media (max-width: 1225px) {
	.present__card {
		padding: 60px 215px 120px 82px;
		font-size: 40px;
		line-height: calc(50 / 40 * 100%);
	}
}
@media (max-width: 1050px) {
	.present__card {
		padding: 30px 100px 80px 52px;
		font-size: 30px;
		line-height: calc(40 / 30 * 100%);
	}
	.present__image {
		margin: -30px -65px 0 0;
	}
}
@media (max-width: 992px) {
	.present__line {
		left: -150px;
		margin: 150px 0px 0px 0px;
	}
	.present__line {
		opacity: 0.5;
	}
}
@media (max-width: 960px) {
	.present__image {
		margin: -30px -165px 0 0;
	}
}
@media (max-width: 767px) {
	.present {
		padding: 0px 0px 150px 0px;
	}
	.present__card {
		padding: 30px;
		font-size: 18px;
		line-height: calc(24 / 18 * 100%);
	}
	.present__image {
		margin: -30px -65px 0 0;
	}
	.present__line {
		left: -100px;
		margin: 250px 0px 0px 0px;
	}
}
@media (max-width: 549px) {
	.present {
		padding: 0px 0px 120px 0px;
	}
	.present__card {
		padding: 30px;
		font-size: 18px;
		line-height: calc(24 / 18 * 100%);
	}
	.present__image {
		padding: 45% 0px 0px 0px;
		margin: 70px 0 0 0;
	}
}
@media (max-width: 430px) {
	.present__image {
		margin: 100px 0 0 0;
	}
	.present__line {
		left: 0;
		margin: 200px 0px 0px 0px;
	}
}
/*---footer-----------------------------------------------------------------------------------------------------*/
.contact {
	padding: 90px 0 100px 0;
}
.contact__container {
}
.contact__body {
	display: flex;
	position: relative;
	z-index: 2;
}
.contact__content {
	flex: 0 1 45%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0px 50px 0px 0px;
}
.contact__content > *:not(:last-child) {
	margin: 0px 0px 24px 0px;
}
.contact__adress {
	font-weight: 400;
	font-size: 50px;
	line-height: calc(60 / 50 * 100%);
	letter-spacing: 0.02em;
	color: #ffffff;
}
.contact__phone {
	display: inline-block;
	font-weight: 700;
	font-size: 40px;
	line-height: calc(48 / 40 * 100%);
	letter-spacing: 0.02em;
	color: #ffffff;
}
.contact__phone:hover {
	text-decoration: underline;
}
.contact__icons {
	display: flex;
	align-items: center;
}
.contact__icon {
	width: 75px;
	height: 75px;
}
.contact__icon img {
	width: 100%;
	height: 100%;
	cursor: pointer;
}
.contact__icon:not(:last-child) {
	margin: 0px 15px 0px 0px;
}
.contact__button {
}
.contact__image {
	display: block;
	width: 75%;
	padding: 40% 0px 0px 0px;
}
.contact__image img {
	border-radius: 50px;
}
@media (max-width: 1170px) {
	.contact__image {
		width: 50%;
	}
}
@media (max-width: 992px) {
	.contact {
		padding: 70px 0 80px 0;
	}
	.contact__body {
		flex-wrap: wrap;
	}
	.contact__content {
		flex: 1 1 100%;
		align-items: center;
		text-align: center;
		margin: 0;
	}
	.contact__button.button-enroll {
		border-radius: 30px;
		width: 100%;
	}
	.contact__image {
		margin: 20px 0px 0px 0px;
		width: 100%;
		padding: 70% 0px 0px 0px;
	}
}
@media (max-width: 549px) {
	.contact {
		padding: 50px 0 40px 0;
	}
	.contact__adress {
		font-size: 35px;
		line-height: calc(45 / 35 * 100%);
	}
	.contact__phone {
		font-size: 30px;
		line-height: calc(38 / 30 * 100%);
	}
	.contact__icon {
		width: 50px;
		height: 50px;
	}
	.contact__image {
		margin: 50px 0px 0px 0px;
		width: 100%;
		padding: 70% 0px 0px 0px;
	}
}
/*---footer-----------------------------------------------------------------------------------------------------*/
.footer {
	padding: 0px 0px 30px 0px;
}
.footer__container {
}
.footer__body {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.footer__text {
	font-weight: 400;
	font-size: 25px;
	line-height: calc(30 / 20 * 100%);
	letter-spacing: 0.02em;
	color: #ffffff;
}
@media (max-width: 549px) {
	.footer__text {
		font-size: 15px;
		line-height: calc(20 / 10 * 100%);
	}
}
